/* Media Query */


/* --------------------------------------------------
                ### Mobile Device Start ### 
----------------------------------------------------*/
@media only screen and (max-width: 576px) {

    .top-banner {
            margin-top: 30px;
    }
    .banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        height: 100%;
        background-color: #161616;
        border-radius: 20px;
        box-shadow: 8px 8px 16px lightgray;
        justify-items: center;
    }

    .half-width-info {
        width: 80%;
        text-align: center;
    }

    .banner-details h1,
    p {
        color: white;
    }

    .banner-title {
        font-size: 30px;
        font-weight: 700;

    }
    .other-view{
        display: none;
    }
    .mobile-view {
        display: block;
        font-size: 1em;
        font-weight: 400;
        padding: 10px;

    }

    .banner-details a {
        text-decoration: none;
        background-color: red;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 700;
        margin: 10px;


    }

    .banner-details a:hover {
        text-decoration: none;
        background-color: black;
        padding: 10px 30px;
        color: white;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 700;
    }

    .banner-image img {
        width: 150%;

    }

    .main-container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
        justify-items: center;
    }

    .one-third-width {
        width: 85%;
        height: 100%;

    }

    .two-third-width {
        width: 100%;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding-right: 30px;

    }
    .sidebar {
        background-color: #ffffff;
        display: block;
        text-align: center;
        border-radius: 20px;
        margin-left: -20px;

    }
    .sidebar-menu li {
        margin: 5px 50px;
        background-color: rgb(228, 234, 234);
        border-radius: 10px;


    }
    .sidebar-menu li a{
        display: block;
        padding: 10px 20px;
        /* color: rgb(21, 19, 19); */
        font-size: 15px;
        font-weight: 600;
    
    }

    .single-content {
        padding: 5px;
        margin: 5px;
        border: 1px solid rgb(241, 238, 238);
        border-radius: 10px;
    }

    .footer-item li {
        display: block;
        text-align: center;
        padding: 15px;

    }

    .footer-item a {
        text-decoration: none;
        color: rgb(201, 197, 197);
        
    }
   .media-icon {
       color: white;
       padding: 5px;
       font-size: 20px;
   }

   .media-icon:hover {
       color: lightsalmon;
       padding: 5px;
       font-size: 25px;
   }

}

/* --------------------------------------------------
                ### Mobile Device End ### 
----------------------------------------------------*/

/* --------------------------------------------------
                ### Tablet Device Start ###
----------------------------------------------------*/

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .banner {
        width: 90%;
        height: 100%;
        display: flex;
        background-color: #161616;
        justify-content: center;
        margin: 0 auto;
        border-radius: 20px;
        padding-left: 40px;
        box-shadow: 8px 8px 16px lightgray;

    }

    .half-width-info {
        width: 40%;
    }

    .half-width-picture {
        width: 50%
    }


    .banner-details h1,
    p {
        color: white;
    }

    .banner-title {
        font-size: 2em;
    }

    .banner-details p {
        font-size: 0.5em;
        font-weight: 400;
        padding-bottom: 20px;

    }

    .banner-details a {
        text-decoration: none;
        background-color: red;
        padding: 10px 30px;
        color: white;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 700;
    }

    .banner-details a:hover {
        text-decoration: none;
        background-color: black;
        padding: 10px 30px;
        color: white;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 700;
    }

    .banner-image img {
        width: 100%;


    }

    .main-container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
        justify-items: center;
    }

    .one-third-width {
        width: 85%;
        height: 100%;

    }

    .two-third-width {
        width: 90%;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding-right: 30px;

    }
    .sidebar {
        background-color: #ffffff;
        display: block;
        text-align: center;
        border-radius: 20px;
        margin-left: -20px;

    }

    .sidebar-menu li {
      margin: 10px 100px;
      background-color: rgb(228, 234, 234);
      border-radius: 10px;


  }


    .view-button {
        display: block;
        background-color: tomato;
        color: white;
        font-weight: 700;
        border-radius: 10px;
        font-size: 20px;
        width: 150px;
        height: 50px;
        text-decoration: none;
        text-align: center;
        padding-top: 15px;
        margin-top: 100px;
        box-shadow: 4px 4px 16px lightgray;
    }
    .view-button:hover, .view-button:focus {
        display: block;
        background-color: rgb(34, 33, 33);
        color: white;
        font-weight: 700;
        border-radius: 10px;
        font-size: 20px;
        width: 150px;
        height: 50px;
        text-decoration: none;
        text-align: center;
        padding-top: 15px;
        margin-top: 100px;
        transition: all 0.5s ease-out;
        
    }




}


/* --------------------------------------------------
                ### Tablet Device End ###
----------------------------------------------------*/

/* --------------------------------------------------
                ### Desktop Device Start ###
----------------------------------------------------*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .banner {
            width: 80vw;
            height: 40vw;
            display: flex;
            background-color: #161616;
            justify-content: center;
            margin: 0 auto;
            border-radius: 20px;
            padding-left: 40px;
            box-shadow: 8px 8px 16px lightgray;
            align-items: center;
    
        }
    
        .half-width-info {
            width: 40%;
            text-align: center;
        }
    
        .half-width-picture {
            width: 50%
        }
    
    
        .banner-details h1,
        p {
            color: white;
        }
    
        .banner-title {
            font-size: 25px;
        }
    
        .banner-details p {
            font-size: 10px;
            font-weight: 400;
            padding-bottom: 20px;
    
        }
    
        .banner-details a {
            text-decoration: none;
            background-color: red;
            padding: 10px 30px;
            color: white;
            border-radius: 5px;
            font-size: 1em;
            font-weight: 700;
    
        }
    
        .banner-details a:hover {
            text-decoration: none;
            background-color: black;
            padding: 10px 30px;
            color: white;
            border-radius: 5px;
            font-size: 1em;
            font-weight: 700;
    
        }
    
        .banner-image img {
            width: 90%;
            /* padding-top: 28px; */
                
        }

        .main-container {
            width: 80%;
            margin: 0 auto;
            display: flex;
            margin-top: 50px;
        }
    
        .sidebar-menu li {
            margin: 10px;
            background-color: rgb(228, 234, 234);
            border-radius: 10px;
    
        }

        .sidebar-menu li a {
            display: block;
            padding: 10px 30px;
            color: rgb(21, 19, 19);
            font-size: 10px;
            font-weight: 700;
    
        }
}

/* --------------------------------------------------
                ### Desktop Device End ###
----------------------------------------------------*/